<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../common/header.ejs %>
    <title>Bookshop | Books</title>
    <script src="/cart.js" charset="utf-8" defer></script>
    <style media="screen">
      .cart-total{
        font-weight: bold;
        border-top: 1px solid #ccc;
      }
      tbody tr:last-of-type {
        border-top: 1px solid #ccc;
      }
    </style>
  </head>
  <body  class="pt-5">
    <% include ../common/nav.ejs %>
    <% include ../common/toaster.ejs %>
    <% include ../common/flash.ejs %>
    <div class="container mb-3">
      <div class="row pt-3x">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
          <h1>My Cart</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div id="cart-card" class="card-body">
              <h2 class="card-title">Cart Items</h2>
              <% if (cartBooksAgregate.length === 0) {%>
                <div class="alert alert-primary mt-3" role="alert">
                  <span>You have no books in your cart!</span>
                </div>
              <%} else {%>
                <table class="w-100">
                  <thead>
                    <tr>
                      <th>Book</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Total</th>
                      <th><!-- Actions --></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% cartBooksAgregate.forEach(bookData => {%>
                      <tr class="cart-item" data-headline="<%= bookData.book.toString() %>" data-count="<%= bookData.quantity %>" data-book="<%= bookData.book.id %>">
                        <td><%= bookData.book.toString() %></td>
                        <td><%= bookData.quantity %></td>
                        <td><%= `${bookData.book.priceString()}` %></td>
                        <td><%= '$'+ bookData.total.toFixed(2) %></td>
                        <td>
                          <button class="btn btn-sm btn-link remove-item">Remove Item(s)</button>
                        </td>
                      </tr>
                    <%});%>
                    <tr>
                      <td colspan="3"></td>
                      <td class="cart-total">$<%= grandTotal.toFixed(2) %></td>
                    </tr>
                  </tbody>
                </table>
              <%};%>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2>Place Order</h2>
              <form action="/orders" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
                <div class="mb-3">
                  <label for="cardNumber">
                    <span>
                      <i class="fa fa-credit-card"></i>
                      *Card Number
                    </span>
                  </label>
                  <input required type="text" id="cardNumber" name="cardNumber" class="form-control" value="XXXX-XXXX-XXXX-1234" readonly>
                </div>
                <div class="mb-3">
                  <label for="address">
                    <span>
                      <i class="fa fa-map-marker"></i>
                      *Address
                    </span>
                  </label>
                  <input required type="text" id="address" name="address" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="notes">
                    <span>
                      <i class="fa fa-sticky-note"></i>
                      Notes
                    </span>
                  </label>
                  <input type="text" id="notes" name="notes" class="form-control">
                </div>
                <button id="order-submit" class="btn btn-lg btn-success w-100" <%= !cartBooksAgregate.length ? 'disabled' : '' %>>Place Order</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
