<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../common/header.ejs %>
    <title>Bookshop | Books</title>
    <script src="/books.js" charset="utf-8" defer></script>
  </head>
  <body class="pt-5">
    <% include ../common/nav.ejs %>
    <% include ../common/toaster.ejs %>
    <% include ../common/flash.ejs %>
    <div class="container mb-3">
      <div class="row pt-3x">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
          <h1>Books for Sale</h1>
          <% if (currentUser) { %>
            <a href="/books/new" class="btn btn-primary btn-lg">Add New Product</a>
          <% }%>
        </div>
        <ul class="list-group">
          <% if(books.length === 0){ %>
            <div class="alert alert-primary" role="alert">
              <span>There are currently no books for sale.
                <% if (currentUser) { %>
                  <a href="/books/new">Try adding a product</a>!
                <% }%>
              </span>
            </div>
          <% } %>
          <% books.forEach(function(book){ %>
            <li class="list-group-item bg-light d-flex book-item" data-id="<%= book.id %>" data-headline="<%= book.toString() %>">
              <img src="https://picsum.photos/200/200" alt="cover of the book" class="img-thumbnail me-3 book-cover">
              <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-start mb-3">
                  <div>
                    <span class="fs-3 d-block mb-0"><%= book.title %></span>
                    <span class="text-muted">By <%= book.authorName || "Unknown Author" %></span>
                  </div>
                  <div class="btn-group">
                    <% if (currentUser && book.createdBy.id === currentUser.id) { %>
                      <!-- <a href="/books/<%= book.id %>" class="btn btn-sm btn-primary disabled" disabled>View Book</a> -->
                      <a href="/books/<%= book.id %>/edit" class="btn btn-sm btn-link">Edit Book</a>
                      <button class="btn btn-sm btn-link delete-book">Delete Book</button>
                    <% } %>
                  </div>
                </div>
                <p><%= book.summary %></p>
                <div class="d-flex justify-content-end">
                  <div class="btn-group">
                    <% if (currentUser) { %>
                      <button class="btn btn-lg btn-primary add-to-cart">Add to Cart (<%= book.priceString() %>)</button>
                    <% } else { %>
                      <button class="btn btn-lg btn-secondary" disabled>Log in to add to cart</button>
                    <% } %>
                  </div>
                </div>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
